.grid-task-1 {
  width: 300px;
  margin: auto;
  display: grid;
  grid-template: 
    "navbar" 60px 
    "categories" minmax(200px, auto) 
    "main" minmax(200px, auto) 
    "footer" 60px  /
     auto;
}

.grid-task-1 > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-task-1__navbar {
  grid-area: navbar;
  background: purple;
}

.grid-task-1__categories {
  grid-area: categories;
  background: yellow;
}

.grid-task-1__main {
  grid-area: main;
  background: blue;
}

.grid-task-1__footer {
  grid-area: footer;
  background: green;
}

/* Nuo 768px ekrano pločio pradeda galioti šie stiliai  */
@media screen and (min-width: 768px) {
  .grid-task-1 {
    width: 720px;
    grid-template: 
      "navbar     navbar" 60px 
      "categories main"   minmax(500px, auto) 
      "footer     footer" 60px/
       250px      auto;
  }
}

/* Nuo 1024px ekrano pločio pradeda galioti šie stiliai  */
@media screen and (min-width: 1024px) {
  .grid-task-1 {
    width: auto;
    grid-template: 
      "navbar     navbar navbar  navbar" 60px 
      "categories .      main    ."      minmax(500px, auto) 
      "footer     footer footer  footer" 60px/
      300px       auto   680px   auto;
  }
}